body {
  background-color: white;
  width: 1500px;
  margin: 0;
  height: 100px;
  padding: 0;
  border: solid, blue;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

#game-intro {
  padding: 100px 0px;
  background-color: black;
  border: 20px, brown, solid;
  height: 1%
}

#backgroundvegan {
  background-image: url(/images/fondo\ vegan.jpg);
  width: 500px;
  position: relative;
  border: solid;
  text-align: center;

}

.vegetables{
  position: absolute;
  top: 0;
  left: 50vw;
  width: 50px;
  height: 50px;
  background-color: red;
}


.meat{
  position: absolute;
  top:0;
  left:0;
  width: 50px;
  height: 50px;
  background-color: blue;
}

body button {
  font-size: 30px;
  background-color: #00aae4;
  color: white;
  padding: 20px 40px;
  border: 10;
  box-shadow: 0;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}


#game-screen {
  display: none;
  margin: auto;
  text-align:unset;
  position: relative;
  /* overflow: hidden; */
  position: relative;
  background-image: url(images/fondo1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 1200px;
  border: solid 20px, black
}

#game-over{

  /* padding: 10px 20px;
  font-size: 18px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; */
  position: absolute;
  text-align: center;
  top: 750px;
  right: 265px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;

}

#player {

  position: absolute;
  width: 120px;
  height: 120px;
  background-image: url(images/parri\ completa.png);
  bottom: 0;
  left: 0;
  bottom: 0;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: fadeInOut, moveLeft300px, bounce;
  
}

.restart-button{
  position: absolute;
  top: 500px;
  right: 100px;
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s;
}


.score-button {
  position: absolute;
  top: -350px;
  right: -200px;
  background-color: #4CAF50;
  padding: 3px 29px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}

.score-button:hover {
  background-color: #45a049;
}

.score-text {
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 500px;
  right: 50px;
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}